:root {
  --incorreto: #ff3030;
  --quase: #ff922e;
  --correto: #2fbe34;
}

* {
  box-sizing: border-box;
}

/* cores de resultado */

.escondida.correto p,
.escondida.correto ion-icon,
footer .resultados .correto ion-icon {
  color: var(--correto);
}

.escondida.quase ion-icon,
.escondida.quase p,
footer .resultados .quase ion-icon {
  color: var(--quase);
}

.escondida.incorreto ion-icon,
.escondida.incorreto p,
footer .resultados .incorreto ion-icon {
  color: var(--incorreto);
}

body {
  background-color: #fb6b6b;
  font-family: "Recursive", sans-serif;
}

.root {
  width: 100vw;
  height: 100vh;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 52px;
}

.logo h1 {
  font-family: "Righteous", cursive;
  color: #ffffff;
  font-size: 36px;
  line-height: 45px;
  margin: 0 5px;
}

.inicio {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.inicio .logo {
  flex-direction: column;
  justify-content: space-evenly;
}

.inicio .logo img {
  width: 136px;
}

.inicio .logo h1 {
  font-size: 36px;
  line-height: 45px;
}

.inicio button {
  width: 246px;
  height: 54px;
  border: 1px solid #d70900;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  font-size: 18px;
  line-height: 14px;
  color: #d70900;
}

.meta {
  min-width: 246px;
  height: 43px;
  border-radius: 5px;
  border: none;
  padding: 7px;
  font-family: Roboto;
  color: #fb6b6b;
  font-size: 14px;
}

.meta::placeholder {
  color: #adadad;
  font-size: 14px;
}

.meta:focus,
.inicio select:focus {
  outline: none;
}

.inicio select {
  min-width: 246px;
  height: 43px;
  border: none;
  border-radius: 5px;
  color: #fb6b6b;
  font-size: 14px;
  font-family: Roboto;
}

.deck {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 92px;
  background-color: #fb6b6b;
  z-index: 1;
  justify-content: center;
}

.flashcards {
  margin: 58px 0 80px;
  width: 100%;
}

.flashcards.final {
  margin-bottom: 182px;
}

.pergunta {
  margin: 25px 37px;
  padding: 0 15px;
  border-radius: 5px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
}

.pergunta.escondida {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  height: 65px;
  align-content: center;
}

.pergunta p {
  color: #333333;
  font-size: 18px;
}

.pergunta.escondida p {
  font-weight: bold;
  margin-top: 23px;
}

.escondida.correto p,
.escondida.quase p,
.escondida.incorreto p {
  text-decoration-line: line-through;
}

.pergunta ion-icon {
  font-size: 23px;
  color: #333333;
  margin-top: 20px;
}

.pergunta.frente,
.pergunta.tras {
  min-height: 131px;
  background-color: #ffffd4;
  padding-top: 18px;
  position: relative;
}

.frente img {
  position: absolute;
  bottom: 7px;
  right: 15px;
  width: 30px;
}

.botoes {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  padding-bottom: 12px;
}

.tras button {
  width: 85px;
  height: 38px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  padding: 0;
  border: none;
  border-radius: 5px;
  color: #ffffff;
}

button.incorreto {
  background-color: var(--incorreto);
}

button.quase {
  background-color: var(--quase);
}

button.correto {
  background-color: var(--correto);
}

footer {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
  min-height: 70px;
  position: fixed;
  bottom: 0;
}

footer .concluidos {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: center;
}

footer .resultados {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
}

footer .resultados ion-icon {
  font-size: 23px;
}

.final h3 {
  font-weight: 700;
  font-size: 18px;
  color: #333333;
  text-align: center;
}

.final .titulo {
  margin: 16px;
  display: flex;
  justify-content: center;
}

.final .titulo img {
  margin-right: 12px;
  width: 23px;
}

.final p {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #333333;
  padding: 0px 18px;
}

.final .resultados {
  margin: 12px 0 14px;
}

.final .reiniciar {
  width: 167px;
  height: 32px;
  background-color: #fb6b6b;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-size: 14px;
  margin: 0 auto 21px;
}

@media screen and (min-width: 700px) {
  .logo img {
    width: 86px;
  }

  .logo h1 {
    font-size: 64px;
    margin: 0 15px;
  }

  .logo.header {
    height: 149px;
  }

  .inicio .logo h1{
    font-size: 64px;
  }

  .inicio select, 
  .meta,
  .inicio button{
    width: 433px;
    height: 57px;
    font-size: 25px;
  }

  .meta::placeholder{
    font-size: 25px;
  }

  .flashcards {
    max-width: 570px;
    margin: 90px 0 118px;
  }

  .flashcards.final{
    margin-bottom: 217px;
  }

  .pergunta {
    padding: 0 24px;
  }

  .pergunta.escondida {
    height: 92px;
  }

  .pergunta p {
    font-size: 24px;
  }

  .pergunta.escondida p {
    margin-top: 28px;
    line-height: 30px;
  }

  .pergunta ion-icon {
    font-size: 32px;
    margin-top: 27px;
  }

  .tras button {
    min-width: 100px;
    height: 45px;
    font-size: 18px;
    padding: 0 5px;
  }

  footer {
    min-height: 118px;
  }

  footer .concluidos {
    font-size: 32px;
  }

  footer .resultados ion-icon {
    font-size: 35px;
  }

  .final .titulo img {
    margin-right: 15px;
    width: 32px;
  }

  .final h3 {
    font-size: 27px;
  }

  .final p {
    font-size: 25px;
  }

  .final .reiniciar {
    width: 300px;
    height: 46px;
    font-size: 25px;
  }
}
